h1 {
    font-size: 3rem;
}


h2 {
    font-size: 2rem;
    font-weight: 700;
}

 
 // example
@media #{$media-size} {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}
