header {
    img {
        width: 100px;
    }
}


main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

 // example
@media #{$media-size} {
    header {
        img {
            width: 60px;
        }
    }
    main {
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
}

