a {
    color: $secondary;
    font-size: 1.2rem;

    &:hover {
        text-decoration: none;
    }
}

nav  {
    a {
        display: block;
        font-size: 1.2rem;
    }
}

@media #{$media-size} {
    a {
        font-size: 1rem;
    }
    
    nav  {
        a {
            font-size: 1rem;
        }
    }
    
}
