p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}


code {
    display: block;
    width: auto;
    font-size: 1rem;
    color: $primary;
    font-family: monospace;
    background-color: $secondary;
    padding: 1rem;
    white-space: pre-wrap;
}

 // example
@media #{$media-size} {
    p {
        font-size: 1rem;
    }

    code {
        overflow-x: auto;
        font-size: .8rem;
    }
}
