
@import 'queries';
@import 'colors';
@import 'headings';
@import 'links';
@import 'layout';
@import 'text';


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 1.2rem;
  color: $secondary;
  background-color: $primary;
  box-sizing: border-box;
}
